.header__channel-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    color: #fff;
    min-height: 10rem;
}

.header__channel-info--hashtag{
    font-weight:700;
}
