@import "../../../css/settings/colors.css";
.btn {
  color: white;
  font-size: 1rem;
  background-color: $default-purple;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  text-align: center;
  &:hover {
    background-color: #8c4ba8;
  }
}
