.menu__item {
  text-transform: uppercase;
  color: #b391c1;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  &:hover {
    color: #ffffff;
  }
  &.active {
    color: #ffffff;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 0.25rem solid #9465a8;
      width: 100%;
    }
  }
}
