.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.box {
  width: 300px;
  height: 150px;
  margin: auto;
  padding: 10px;
  text-align: center;
  background: lightgrey;
  border: 3px solid grey;
  border-radius: 5px;
  font-family: Verdana, sans-serif;
}

.link {
  text-decoration: none;
}
