@import "../../../../css/settings/colors.css";

.expert__box {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  min-width: 12rem;
  max-width: 16rem;
  transition: all 0.25s ease-in-out;
  @media screen and (max-width: 960px) {
    width: 100%;
    max-width: calc(50% - 1rem);
  }
  &:hover {
    background-color: #b391c1;
    .expert__box--text {
      color: white;
    }
  }
  &:active {
    transform: scale(1.1);
  }
  &.active {
    background-color: $default-purple;
    color: white;
    .expert__box--text {
      color: white;
    }
    &:hover {
      background-color: #b391c1;
    }
  }
  .expert__box--text {
    color: $default-purple;
    font-weight: bold;
  }
}
