@import "../../../css/settings/colors.css";
.outer-wrapper {
  max-width: 55rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.outer-label {
  color: $question-text-color;
  /* padding: 0 0.5rem; */
}
.question {
  &.question__form {
    padding: 0;
  }
}

.center {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.question__label {
  font-weight: bold;
  padding: 0.5rem;
  color: $default-purple;
}
