.experts__section {
  width: 100%;
  background-color: #f4f4f4;
  padding: 1rem;
  h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    padding: 1rem;
    color: #838383;
  }
  .experts__box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and (max-width: 960px) {
      flex-wrap: wrap;
    }
  }
}
