.user {
  margin: 1rem 0;
}
.user__avatar {
  border-radius: 50%;
  background-color: #561588;
  color: white;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0.3125rem 0.625rem;
  text-align: center;
}

.user__name {
  color: #8a8383;
  &::after {
    content: "|";
    padding: 0 0.5rem;
    font-weight: 100;
  }
}
