@import "../../../css/settings/colors.css";
.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  background: #fff;
  min-height: 6rem;
  padding: 1rem;
  max-width: 55rem;
  width: 100%;
  color: #5d5d5d;
}
.question__info {
  display: flex;
  justify-content: space-between;
  padding-top: 0.7rem;
}
.question__input {
  display: flex;
}

.userQuestion {
  background: lightgrey;
}

.question__body {
  h3 {
    color: $default-purple;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
}
