$white-color: #fff;
$violet: #561588;

/* var(--header-color, blue); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  background: $white-color;
}

