@import "../../../css/settings/colors.css";
.input__wrap {
  position: relative;
  border-bottom: 0.125px solid #d9d9d9;
  /* margin-bottom: 1rem; */
  width: 100%;
  padding: 0.5rem;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}
input {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  height: 2rem;
  font-size: 1rem;
  color: $question-text-color;
  &::placeholder {
    font-weight: 100;
  }
  &:focus {
    border-color: transparent !important;
  }
  &:focus + .focus-input::before {
    width: 100%;
  }
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: $default-purple;
  }
}
