@import "../../../css/settings/colors.css";
textarea {
  min-height: 5rem;
  color: $question-text-color;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  overflow: auto;
  resize: none;
  touch-action: manipulation;
  position: relative;
  &::placeholder {
    font-weight: 100;
  }
  &:focus {
    border-color: transparent !important;
  }
  &:focus + .focus-input::before {
    width: 100%;
  }
}

.input-length {
  position: absolute;
  bottom: 0.125rem;
  right: 0.5rem;
  color: #d9d9d9;
}
