.badge {
  color: white;
  background-color: #cb0016;
  font-size: 0.6rem;
  font-weight: bold;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
}
